<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="100000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
<!--     <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="/images/slider-1.jpg" class="d-block w-100 c-img" alt="Slide 1">
      <div class="h-75 carousel-caption d-flex flex-column align-items-start justify-content-start text-start">
        <h1 class=" fw-bolder text-capitalize" data-aos="fade-down">Bienvenue</h1>
        <p class="text-uppercase fs-2 mt-2"  data-aos="fade-down" data-aos-delay="300">dans l'initiative pour la gestion et la valorisation des déchets.</p>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="/images/slider2events.jpg" class="d-block w-100 c-img" alt="Slide 2">
      <div class="carousel-caption d-flex flex-column align-items-start justify-content-end text-start">
        <h2 class=" fw-bolder text-capitalize">Découvrez des événements Inoubliables</h2>
        <p class="text-uppercase fs-3 mt-2">Rejoignez-nous pour des activité et des discussions enrichissantes avec des leaders d'opinion.</p>
        <a class="btn btn-primary px-4 py-2 fs-5 mt-2 mb-6" href="/events">Voir les Événements</a>
      </div>
    </div>

<!--     <div class="carousel-item c-item">
      <img src="/images/slider3.jpg" class="d-block w-100 c-img" alt="Slide 3">
      <div class="carousel-caption top-0 mt-4 ">

        <p class="text-uppercase fs-3 mt-5">Découvrez des événements Inoubliables</p>
        <p class="display-1 fw-bolder text-capitalize">Rejoignez-nous pour des activité et des discussions enrichissantes avec des leaders d'opinion.</p>
        <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal" data-bs-target="#booking-modal">Book a tour</button>
     
     
     
     
     
      </div>
    </div> -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>