<nav id="topnavbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="home"><img src="images/CTlogo.svg" alt="" width="30" height="auto" class="d-inline-block align-text-top"> </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-right">
        <li class="nav-item">
          <a class="nav-link fw-medium" aria-current="page" href="/home">Accueil</a>
        </li>




        <li class="nav-item fw-medium dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gallery
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/galleryimages">Images</a></li>
            <li><a class="dropdown-item" href="/galleryvideos">Videos</a></li>
          </ul>
        </li>


        <li class="nav-item fw-medium">
          <a class="nav-link" aria-current="page" href="/contact">Contacter Nous</a>
        </li>
        <li class="nav-item fw-medium ">
          <a class="nav-link" aria-current="page" href="/login">Se connecter</a>
        </li>
<!--         <li class="nav-item fw-medium ">
          <a class="nav-link" aria-current="page" href="about">À propos</a>
        </li> -->
        <li class="nav-item fw-medium">
          <a class="nav-link" aria-current="page" href="/companies">Companies</a>
        </li>

        <li class="nav-item fw-medium">
          <a class="nav-link" aria-current="page" href="/allannouncement">Announcements</a>
        </li>
        <li class="nav-item fw-medium">
          <a class="nav-link" aria-current="page" href="/blogs">Blogs</a>
        </li>




        <li class="nav-item fw-medium dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            En cours
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/blog">Blog</a></li>
            <li><a class="dropdown-item" href="about">À propos</a></li>
<!--             <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="123">Edition 2023 (en cours)</a></li> -->
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>