<!DOCTYPE html>
<html lang="en">

<%- include('./commun/head') %>

<body>
  <section id="formsection" form-id-data="<%= formId %>" class="section min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
          <div id="form-render"></div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./commun/scripts') %>
  <script src="plugin/form-builder/form-render.min.js"></script>
  <script>
    $(document).ready(async function() {
      const formDataId = document.getElementById('formsection').getAttribute("form-id-data");
      
      try {
        const response = await fetch(`/form/formData/${formDataId}`);
        if (!response.ok) {
          throw new Error('Failed to retrieve form data');
        }
        const formData = await response.json();
        // Render form
        $('#form-render').formRender({
          formData: formData.fields
        });
      } catch (error) {
        console.error('Error retrieving form data:', error);
      }
    });
  </script>
</body>

</html>
