<%- include('./commun/head',{nonce, titre: 'About Us',pageTags:''}) %>
<style>
  .title_section {
    color: var(--primary-color-2);
    font-weight: bold;
  }

  ul strong {
    color: var(--primary-color-1);
  }
</style>
</head>

<body class="bg-light">
  <%- include('./partials/navbar') %>
  <%- include('./partials/sectionhero', { titre: 'À propos de nous' ,bgimage:'/images/cta-image-1.jpg'}) %>

  <section>
    <div class="container mb-5">
      <div class="row">
        <div class="col-12">
          <h1 class="title_section">Notre Site Web : Gestion et Valorisation des Déchets</h1>
          <!--         <h2 class="title_discription">C'est quoi Forum des entreprises ?</h2> -->
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">

      <h3 class="title_section">Mission et Vision</h3>
      <p class="text-justify fw-semibold">
        Le site web que j'ai développé a pour mission de fournir des informations exhaustives, inspirer la créativité, et sensibiliser le public à l'importance de la gestion durable des déchets. Nous visons à faciliter l'accès aux ressources, encourager l'interactivité et la participation des utilisateurs, et soutenir activement les initiatives locales. </p>
      <h3 class="title_section">Fonctionnalités Clés</h3>
      <p class="text-justify fw-semibold">
        Le site web que j'ai développé a pour mission de fournir des informations exhaustives, inspirer la créativité, et sensibiliser le public à l'importance de la gestion durable des déchets. Nous visons à faciliter l'accès aux ressources, encourager l'interactivité et la participation des utilisateurs, et soutenir activement les initiatives locales. </p>
      <ul class="text-justify fw-semibold lh-lg">
        <li><strong>Ressources et Informations :</strong> Le site offre une multitude de ressources éducatives et informatives sur des sujets variés tels que le recyclage, le compostage, la méthanisation, et bien plus encore.</li>
        <li><strong>Interactivité et Participation :</strong> Nous encourageons les utilisateurs à participer activement à la gestion des déchets en proposant des idées de projets, des sujets de fin d'études, et des initiatives locales.</li>
        <li><strong>Coordination Locale :</strong> Le site facilite la coordination à l'échelle locale entre les différentes parties prenantes, y compris les municipalités, les entreprises, et les communautés locales.</li>
        <li><strong>Services Pratiques :</strong> Des services tels qu'un calendrier d'événements, un annuaire des entreprises autorisées dans le domaine des déchets, et des propositions de financement pour soutenir les projets locaux sont disponibles.</li>
        <li><strong>Transparence et Signalement :</strong> Nous promouvons la transparence et permettons le signalement des problématiques liées à la gestion des déchets pour une meilleure efficacité.</li>
        <li><strong>Soutien aux Projets Locaux :</strong> Le site apporte un soutien concret aux projets locaux par le biais de vidéos éducatives, de webinaires, et d'une galerie de produits upcyclés.</li>
      </ul>


      <h3 class="title_section">Appel à Projets et Idées</h3>
      <p class="text-justify fw-semibold">Une page dédiée permet de diffuser des appels à projets, des idées, et des offres de financement. Cela inclut :</p>
      <ul class="text-justify fw-semibold lh-lg">
        <li>Des sujets de projets de fin d'études (PFE), de masters, et de recherches.</li>
        <li>Des idées pour les clubs, les investisseurs, et les associations.</li>
        <li>Des offres de financement pour soutenir les projets de développement durable.</li>
      </ul>

      <h3 class="title_section">Annuaire des Entreprises Autorisées</h3>
      <p class="text-justify fw-semibold">Notre annuaire est une ressource essentielle qui offre un accès rapide et fiable à une liste complète d'entreprises autorisées dans le domaine de la gestion des déchets.</p>

      <h3 class="title_section">Événements et Ateliers</h3>
      <p class="text-justify fw-semibold">Nous organisons des vidéos et des webinaires éducatifs sur des sujets tels que le compostage à domicile, le zéro déchet, et l'upcycling. Notre calendrier en ligne recense tous les colloques, séminaires, et événements pertinents.</p>
    </div>
  </section>

  <section>
    <div class="container mb-5">
      <div class="row">
        <div class="col-12">
          <h1 class="title_section">Projet « La Gouvernance Environnementale Municipale - MEG »</h1>
          <!--         <h2 class="title_discription">C'est quoi Forum des entreprises ?</h2> -->
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">



      <div class="row">
        <div class="col-md-9 col-sm-12">
          <h3 class="title_section">Contexte</h3>
          <p class="text-justify fw-semibold">Ce projet est une initiative menée par l'organisation Volonté et Citoyenneté (OVC) avec le soutien du Fonds National pour la Démocratie. En collaboration avec neuf communes du sud de la Tunisie, il vise à instaurer un système de gestion des déchets durable et participatif, à renforcer la coordination entre les membres de la communauté et les municipalités, et à promouvoir le partenariat entre les secteurs public et privé.</p>

        </div>
        <div class="col-md-3 col-sm-12 d-flex justify-content-md-center">
          <figure class="figure_for_frame">
            <img style="max-width: 100%;height: auto;" src="/images/ovclogo.png" alt="Forum ENIG" />
          </figure>
        </div>
      </div>

      <h3 class="title_section">Objectifs</h3>
      <p class="text-justify fw-semibold">
        Le site web que j'ai développé a pour mission de fournir des informations exhaustives, inspirer la créativité, et sensibiliser le public à l'importance de la gestion durable des déchets. Nous visons à faciliter l'accès aux ressources, encourager l'interactivité et la participation des utilisateurs, et soutenir activement les initiatives locales. </p>
      <ul class="text-justify fw-semibold lh-lg">
        <li><strong>Gestion Durable des Déchets :</strong> Mettre en place un système de gestion des déchets efficace et responsable.</li>
        <li><strong>Coordination et Coopération :</strong> Accroître la coopération entre les différentes parties prenantes pour améliorer les politiques locales de gestion des déchets.</li>
        <li><strong>Partenariat Public-Privé :</strong> Renforcer les liens entre les secteurs public et privé pour une meilleure gestion des déchets.</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <h3 class="title_section">Jasser Hachaichi</h3>
      <p><strong>(Le propriétaire de l'initiative de site web)</strong></p>
      <p class="text-justify fw-semibold">
        Je m'appelle Jasser Hachaichi et je suis un étudiant passionné en Ingénierie des Communications et des Réseaux à l'École Nationale d'Ingénieurs de Gabès (ENIG). Je me consacre à la création d'innovations technologiques pour améliorer notre environnement. C'est dans ce cadre que j'ai développé un site web dédié à la gestion et à la valorisation des déchets.
      </p>
    </div>
  </section>



  <%- include('./commun/footer') %>

</body>

</html>