<!DOCTYPE html>
<html lang="en">
<%- include('./commun/head') %>

<body>
  <%- include('./partials/navbar') %>

  <link rel="stylesheet" href="https://bootstrapbrain.com/demo/components-pro/contacts-pro/contact-4/assets/css/contact-4.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css">
  <!--  <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="assets/extensions/filepond/filepond.css">


  <script src="https://www.google.com/recaptcha/api.js" async defer></script>


  <style>
    .filepond--drop-label {
      color: #4c4e53;
    }

    .filepond--label-action {
      text-decoration-color: #babdc0;
    }

    .filepond--panel-root {
      border-radius: 2em;
      background-color: #edf0f4;
      height: 1em;
    }

    .filepond--item-panel {
      background-color: #595e68;
    }

    .filepond--drip-blob {
      background-color: #7f8a9a;
    }
  </style>
  <style>
    .select-box {
      position: relative;

      width: 26rem;
      margin: 7rem auto;
    }

    .select-box input {
      width: 100%;
      padding: 1rem .6rem;
      font-size: 1.1rem;

      border: .1rem solid transparent;
      outline: none;
    }

    input[type="tel"] {
      border-radius: 0 .5rem .5rem 0;
    }

    .select-box input:focus {
      border: .1rem solid var(--primary);
    }

    .selected-option {
      background-color: #eee;
      border-radius: .5rem;
      overflow: hidden;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .selected-option div {
      position: relative;

      width: 6rem;
      padding: 0 2.8rem 0 .5rem;
      text-align: center;
      cursor: pointer;
    }

    .selected-option div::after {
      position: absolute;
      content: "";
      right: .8rem;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);

      width: .8rem;
      height: .8rem;
      border-right: .12rem solid var(--primary);
      border-bottom: .12rem solid var(--primary);

      transition: .2s;
    }

    .selected-option div.active::after {
      transform: translateY(-50%) rotate(225deg);
    }

    .select-box .options {
      position: absolute;
      top: 4rem;

      width: 100%;
      background-color: #fff;
      border-radius: .5rem;

      display: none;
    }

    .select-box .options.active {
      display: block;
    }

    .select-box .options::before {
      position: absolute;
      content: "";
      left: 1rem;
      top: -1.2rem;

      width: 0;
      height: 0;
      border: .6rem solid transparent;
      border-bottom-color: var(--primary);
    }

    input.search-box {
      background-color: var(--primary);
      color: #fff;
      border-radius: .5rem .5rem 0 0;
      padding: 1.4rem 1rem;
    }

    .select-box ol {
      list-style: none;
      max-height: 23rem;
      overflow: overlay;
    }

    .select-box ol::-webkit-scrollbar {
      width: 0.6rem;
    }

    .select-box ol::-webkit-scrollbar-thumb {
      width: 0.4rem;
      height: 3rem;
      background-color: #ccc;
      border-radius: .4rem;
    }

    .select-box ol li {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }

    .select-box ol li.hide {
      display: none;
    }

    .select-box ol li:not(:last-child) {
      border-bottom: .1rem solid #eee;
    }

    .select-box ol li:hover {
      background-color: lightcyan;
    }

    .select-box ol li .country-name {
      margin-left: .4rem;
    }
  </style>
  <section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">Contact</h3>
          <h1 class="display-5 mb-4 mb-md-5 mb-xl-8">We're always on the lookout to work with new
            clients. Please get in touch in one of the following ways.</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row gy-4 gy-md-5 gy-lg-0 align-items-md-center">
        <div class="col-12 col-lg-6">
          <div class="border overflow-hidden">
            <form id="emailForm" action="contact/sendEmail" method="POST" enctype="multipart/form-data" data-parsley-validate>
              <div class="row gy-4 gy-xl-5 p-4 p-xl-5">

                <div class="col-12">
                  <label for="fullname" class="form-label">Full Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="fullname" name="fullname" required>
                </div>
                <div class="col-12 col-md-6">
                  <label for="email" class="form-label">Email </label>
                  <div class="input-group">
                    <span class="input-group-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z">
                        </path>
                      </svg>
                    </span>
                    <input type="email" class="form-control" data-parsley-trigger="change" id="email" name="email">
                  </div>
                </div>



                <div class="col-12 col-md-6">
                  <label for="phone" class="form-label">Phone Number<span class="text-danger">*</span></label>
                  <div class="input-group">
                    <span class="input-group-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                        </path>
                      </svg>
                    </span>
                    <select name="country" class="input-group-text">
                      <option value="+0">+0</option>
                      <option value="+1">+1</option>
                      <option value="+7">+7</option>
                      <option value="+20">+20</option>
                      <option value="+27">+27</option>
                      <option value="+30">+30</option>
                      <option value="+31">+31</option>
                      <option value="+32">+32</option>
                      <option value="+33">+33</option>
                      <option value="+34">+34</option>
                      <option value="+36">+36</option>
                      <option value="+39">+39</option>
                      <option value="+40">+40</option>
                      <option value="+41">+41</option>
                      <option value="+42">+42</option>
                      <option value="+43">+43</option>
                      <option value="+44">+44</option>
                      <option value="+45">+45</option>
                      <option value="+46">+46</option>
                      <option value="+47">+47</option>
                      <option value="+48">+48</option>
                      <option value="+49">+49</option>
                      <option value="+51">+51</option>
                      <option value="+52">+52</option>
                      <option value="+53">+53</option>
                      <option value="+54">+54</option>
                      <option value="+55">+55</option>
                      <option value="+56">+56</option>
                      <option value="+57">+57</option>
                      <option value="+58">+58</option>
                      <option value="+60">+60</option>
                      <option value="+61">+61</option>
                      <option value="+62">+62</option>
                      <option value="+63">+63</option>
                      <option value="+64">+64</option>
                      <option value="+65">+65</option>
                      <option value="+66">+66</option>
                      <option value="+81">+81</option>
                      <option value="+84">+84</option>
                      <option value="+86">+86</option>
                      <option value="+90">+90</option>
                      <option value="+91">+91</option>
                      <option value="+92">+92</option>
                      <option value="+93">+93</option>
                      <option value="+94">+94</option>
                      <option value="+95">+95</option>
                      <option value="+98">+98</option>
                      <option value="+212">+212</option>
                      <option value="+213">+213</option>
                      <option value="+216" selected>+216</option>
                      <option value="+220">+220</option>
                      <option value="+221">+221</option>
                      <option value="+222">+222</option>
                      <option value="+223">+223</option>
                      <option value="+224">+224</option>
                      <option value="+225">+225</option>
                      <option value="+226">+226</option>
                      <option value="+227">+227</option>
                      <option value="+228">+228</option>
                      <option value="+229">+229</option>
                      <option value="+230">+230</option>
                      <option value="+231">+231</option>
                      <option value="+232">+232</option>
                      <option value="+233">+233</option>
                      <option value="+234">+234</option>
                      <option value="+235">+235</option>
                      <option value="+236">+236</option>
                      <option value="+237">+237</option>
                      <option value="+238">+238</option>
                      <option value="+239">+239</option>
                      <option value="+240">+240</option>
                      <option value="+241">+241</option>
                      <option value="+242">+242</option>
                      <option value="+245">+245</option>
                      <option value="+246">+246</option>
                      <option value="+247">+247</option>
                      <option value="+248">+248</option>
                      <option value="+249">+249</option>
                      <option value="+250">+250</option>
                      <option value="+251">+251</option>
                      <option value="+252">+252</option>
                      <option value="+253">+253</option>
                      <option value="+254">+254</option>
                      <option value="+255">+255</option>
                      <option value="+256">+256</option>
                      <option value="+257">+257</option>
                      <option value="+258">+258</option>
                      <option value="+260">+260</option>
                      <option value="+261">+261</option>
                      <option value="+262">+262</option>
                      <option value="+263">+263</option>
                      <option value="+264">+264</option>
                      <option value="+265">+265</option>
                      <option value="+266">+266</option>
                      <option value="+267">+267</option>
                      <option value="+268">+268</option>
                      <option value="+269">+269</option>
                      <option value="+290">+290</option>
                      <option value="+291">+291</option>
                      <option value="+297">+297</option>
                      <option value="+298">+298</option>
                      <option value="+299">+299</option>
                      <option value="+350">+350</option>
                      <option value="+351">+351</option>
                      <option value="+352">+352</option>
                      <option value="+353">+353</option>
                      <option value="+354">+354</option>
                      <option value="+355">+355</option>
                      <option value="+356">+356</option>
                      <option value="+357">+357</option>
                      <option value="+358">+358</option>
                      <option value="+359">+359</option>
                      <option value="+370">+370</option>
                      <option value="+371">+371</option>
                      <option value="+372">+372</option>
                      <option value="+373">+373</option>
                      <option value="+374">+374</option>
                      <option value="+375">+375</option>
                      <option value="+376">+376</option>
                      <option value="+377">+377</option>
                      <option value="+378">+378</option>
                      <option value="+379">+379</option>
                      <option value="+380">+380</option>
                      <option value="+381">+381</option>
                      <option value="+382">+382</option>
                      <option value="+385">+385</option>
                      <option value="+386">+386</option>
                      <option value="+387">+387</option>
                      <option value="+389">+389</option>
                      <option value="+420">+420</option>
                      <option value="+421">+421</option>
                      <option value="+423">+423</option>
                      <option value="+500">+500</option>
                      <option value="+501">+501</option>
                      <option value="+502">+502</option>
                      <option value="+503">+503</option>
                      <option value="+504">+504</option>
                      <option value="+505">+505</option>
                      <option value="+506">+506</option>
                      <option value="+507">+507</option>
                      <option value="+509">+509</option>
                      <option value="+590">+590</option>
                      <option value="+591">+591</option>
                      <option value="+592">+592</option>
                      <option value="+593">+593</option>
                      <option value="+594">+594</option>
                      <option value="+595">+595</option>
                      <option value="+596">+596</option>
                      <option value="+597">+597</option>
                      <option value="+598">+598</option>
                      <option value="+599">+599</option>
                      <option value="+670">+670</option>
                      <option value="+672">+672</option>
                      <option value="+673">+673</option>
                      <option value="+674">+674</option>
                      <option value="+675">+675</option>
                      <option value="+676">+676</option>
                      <option value="+677">+677</option>
                      <option value="+678">+678</option>
                      <option value="+679">+679</option>
                      <option value="+680">+680</option>
                      <option value="+681">+681</option>
                      <option value="+682">+682</option>
                      <option value="+683">+683</option>
                      <option value="+684">+684</option>
                      <option value="+685">+685</option>
                      <option value="+686">+686</option>
                      <option value="+687">+687</option>
                      <option value="+688">+688</option>
                      <option value="+689">+689</option>
                      <option value="+690">+690</option>
                      <option value="+691">+691</option>
                      <option value="+692">+692</option>
                      <option value="+7370">+7370</option>
                      <option value="+850">+850</option>
                      <option value="+852">+852</option>
                      <option value="+853">+853</option>
                      <option value="+855">+855</option>
                      <option value="+856">+856</option>
                      <option value="+870">+870</option>
                      <option value="+875">+875</option>
                      <option value="+880">+880</option>
                      <option value="+886">+886</option>
                      <option value="+960">+960</option>
                      <option value="+961">+961</option>
                      <option value="+962">+962</option>
                      <option value="+963">+963</option>
                      <option value="+964">+964</option>
                      <option value="+965">+965</option>
                      <option value="+966">+966</option>
                      <option value="+967">+967</option>
                      <option value="+968">+968</option>
                      <option value="+970">+970</option>
                      <option value="+971">+971</option>
                      <option value="+972">+972</option>
                      <option value="+973">+973</option>
                      <option value="+974">+974</option>
                      <option value="+975">+975</option>
                      <option value="+976">+976</option>
                      <option value="+977">+977</option>
                      <option value="+992">+992</option>
                      <option value="+993">+993</option>
                      <option value="+994">+994</option>
                      <option value="+995">+995</option>
                      <option value="+996">+996</option>
                      <option value="+998">+998</option>
                      <option value="+1242">+1242</option>
                      <option value="+1246">+1246</option>
                      <option value="+1264">+1264</option>
                      <option value="+1268">+1268</option>
                      <option value="+1284">+1284</option>
                      <option value="+1340">+1340</option>
                      <option value="+1345">+1345</option>
                      <option value="+1441">+1441</option>
                      <option value="+1473">+1473</option>
                      <option value="+1664">+1664</option>
                      <option value="+1670">+1670</option>
                      <option value="+1671">+1671</option>
                      <option value="+1684">+1684</option>
                      <option value="+1758">+1758</option>
                      <option value="+1767">+1767</option>
                      <option value="+1784">+1784</option>
                      <option value="+1787">+1787</option>
                      <option value="+1809">+1809</option>
                      <option value="+1829">+1829</option>
                      <option value="+1849">+1849</option>
                      <option value="+1868">+1868</option>
                      <option value="+1869">+1869</option>
                      <option value="+1876">+1876</option>
                      <option value="+1939">+1939</option>
                      <option value="+4779">+4779</option>
                      <option value="+5993">+5993</option>
                      <option value="+5994">+5994</option>
                      <option value="+5997">+5997</option>
                      <option value="+5999">+5999</option>
                      <option value="+6721">+6721</option>
                      <option value="+6723">+6723</option>
                      <option value="+705">+705</option>
                      <option value="+856">+856</option>
                      <option value="+870">+870</option>
                      <option value="+875">+875</option>
                      <option value="+970">+970</option>
                      <option value="+971">+971</option>
                      <option value="+972">+972</option>
                      <option value="+973">+973</option>
                      <option value="+974">+974</option>
                      <option value="+975">+975</option>
                      <option value="+976">+976</option>
                      <option value="+977">+977</option>
                      <option value="+992">+992</option>
                      <option value="+993">+993</option>
                      <option value="+994">+994</option>
                      <option value="+995">+995</option>
                      <option value="+996">+996</option>
                      <option value="+998">+998</option>
                    </select>




                    <input type="tel" class="form-control" id="phone" name="tel" pattern="^[0-9]+$">
                  </div>
                </div>





                <div class="col-12">
                  <label for="subject" class="form-label">Subject <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="subject" name="subject" value="" required="">
                </div>
                <div class="col-12">
                  <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                  <textarea class="form-control" id="message" name="message" rows="3" required=""></textarea>
                </div>
                <div class="col-12">
                  <input id="filepondinput" type="file" name="filepond" multiple />
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="checkbox" id="flexCheckDefault" required>
                    <label class="form-check-label" for="flexCheckDefault">I am responsible for the information I provide from above</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="g-recaptcha" data-sitekey="<%= siteKey %>"></div>

                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Send
                      Message</button>
                  </div>
                </div>
              </div>
            </form>





          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <div class="mb-4 mb-md-5">
                <div class="mb-3 text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-geo" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z">
                    </path>
                  </svg>
                </div>
                <div>
                  <h4 class="mb-2">Office</h4>
                  <p class="mb-2">Please visit us to have a discussion.</p>
                  <hr class="w-50 mb-3 border-dark-subtle">
                  <address class="m-0 text-secondary">8014 Edith Blvd NE, Albuquerque, New
                    York, United States</address>
                </div>
              </div>
              <div class="row mb-sm-4 mb-md-5">
                <div class="col-12 col-sm-6">
                  <div class="mb-4 mb-sm-0">
                    <div class="mb-3 text-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      <h4 class="mb-2">Phone</h4>
                      <p class="mb-2">Please speak with us directly.</p>
                      <hr class="w-75 mb-3 border-dark-subtle">
                      <p class="mb-0">
                        <a class="link-secondary text-decoration-none" href="tel:+15057922430">(505) 792-2430</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="mb-4 mb-sm-0">
                    <div class="mb-3 text-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z">
                        </path>
                        <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z">
                        </path>
                      </svg>
                    </div>
                    <div>
                      <h4 class="mb-2">Email</h4>
                      <p class="mb-2">Please write to us directly.</p>
                      <hr class="w-75 mb-3 border-dark-subtle">
                      <p class="mb-0">
                        <a class="link-secondary text-decoration-none" href="mailto:demo@yourdomain.com">demo@yourdomain.com</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="mb-3 text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                    <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z">
                    </path>
                    <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z">
                    </path>
                  </svg>
                </div>
                <div>
                  <h4 class="mb-2">Opening Hours</h4>
                  <p class="mb-2">Explore our business opening hours.</p>
                  <hr class="w-50 mb-3 border-dark-subtle">
                  <div class="d-flex mb-1">
                    <p class="text-secondary fw-bold mb-0 me-5">Mon - Fri</p>
                    <p class="text-secondary mb-0">9am - 5pm</p>
                  </div>
                  <div class="d-flex">
                    <p class="text-secondary fw-bold mb-0 me-5">Sat - Sun</p>
                    <p class="text-secondary mb-0">9am - 2pm</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--   <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered flex-column justify-content-center">


      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="color-white"> currently being sent <br>Do not refresh or change this page</p>
    </div>
  </div>
 -->
  <div id="custom-toast-template" style="display: none; ">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="color-white"> currently being sent <br>Do not refresh or change this page</p>
  </div>
  </div>


  <%- include('./commun/footer') %>
  <!--   <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
  <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script> -->


  <script src="assets/extensions/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
  <script src="assets/extensions/filepond/filepond.js"></script>



  <script src="assets/extensions/parsleyjs/parsley.min.js"></script>
  <script src="assets/static/js/pages/parsley.js"></script>
  <!--   <script>
    FilePond.registerPlugin(FilePondPluginFileValidateSize);

    // Select the file input and use create() to turn it into a pond
    FilePond.create(
      document.querySelector('input[type="file"]'), {
        maxFiles: 10,
        maxFileSize: '10MB'
      }
    );
  </script>  -->

  <script>
    function showMessage(msg, duration, color) {
      Toastify({
        text: msg,
        close: true,
        duration: duration,
        gravity: "bottom",
        position: "right",
        backgroundColor: color,
      }).showToast()
    }
    // Function to show a Toastify notification with a spinner
    function showSpinnerToast(message) {
      var toast = Toastify({
        text: document.getElementById('custom-toast-template').innerHTML,
        duration: -1, // Infinite duration
        gravity: "bottom",
        position: "right",
        className: 'toastify-spinner',
        escapeMarkup: false,
        closeOnClick: true,
        backgroundColor: "#007bff",
      }).showToast();
      // Return the toast instance
      return toast;
    }
  </script>
  <!-- <script>


    document.getElementById("bsb-contact-4").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent default form submission

      // Create FormData object to store form data including files
      var formData = new FormData(this);

      // Send AJAX request
      $.ajax({
        url: '/contact/sendEmail',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          // Handle success response

        },
        error: function(xhr, status, error) {
          // Handle error

          
        }
      });



    });
  </script> -->

  <script>
    function clearFormFields() {
      // Réinitialiser les valeurs des champs du formulaire
      document.getElementById("fullname").value = "";
      document.getElementById("email").value = "";
      document.getElementById("phone").value = "";
      document.getElementById("subject").value = "";
      document.getElementById("message").value = "";

      var fileInput = document.getElementById("filepondinput");
      if (fileInput) {
        // Supprime tous les fichiers sélectionnés
        pond.removeFiles();
      }

      // Décocher la case à cocher
      document.getElementById("flexCheckDefault").checked = false;

      // Réinitialiser le champ de captcha
      grecaptcha.reset(); // Réinitialise le champ de captcha
      // Reset Parsley validation
      var form = document.getElementById('emailForm'); // Replace 'yourFormId' with the actual ID of your form
      if (form) {
        $(form).parsley().reset();
      }
    }

    // FilePond plugin registration and initialization
    FilePond.registerPlugin(FilePondPluginFileValidateSize);
    const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create(inputElement, {
      maxFiles: 10,
      maxFileSize: '10MB',
      credits: null,
    });

    // Add a listener for form submission
    // Add a listener for form submission
    document.getElementById('emailForm').addEventListener('submit', function(event) {
      event.preventDefault();


      var toastInstance = showSpinnerToast("Loading...");
      // Get files from FilePond instance
      const files = pond.getFiles();

      // Create FormData object and append files to it
      const formData = new FormData(this);
      files.forEach(file => {
        formData.append('filepond', file.file);
      });

      // Append other form data
      /*   const checkbox = document.getElementById('flexCheckDefault').checked;
        formData.append('checkbox', checkbox); */

      // Send AJAX request
      /* fetch('contact/sendEmail', {
          method: 'POST',
          body: formData
      })
      .then(response => response.text())
      .then(response => {
          toastInstance.hideToast();
          //console.log('Success:', response);

      })
      .catch(error => {
          toastInstance.hideToast();
          console.error('Error:', error);
          showMessage(error, 3000, "#198754");

          // Check if error response contains error messages
          if (error && error.response && error.response.errors) {
              error.response.errors.forEach(err => {
                  showMessage(err.msg, 3000, "#198754");
                  //console.error('Error message:', err.msg);
              });
          }
      }); */

      fetch('contact/sendEmail', {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          toastInstance.hideToast();

          // Log messages and errors to the console
          if (data.errors && data.errors.length > 0) {
            //console.error('Errors occurred:');
            data.errors.forEach(error => {
              showMessage(error, 3000, "#dc3545");


              //console.error(error)
            });

          }
          if (data.message && data.message.length > 0) {
            clearFormFields();
            showMessage('Email sent successfully', -1, "#4fbe87");
          }



          /*     if (data.message) {
                console.log('Message:', data.message);
              } */
        })
        .catch(error => {
          toastInstance.hideToast();
          console.error('Error occurred:', error);
          showMessage(error, 3000, "#dc3545");
        });

      // Close the 
      //toastInstance.hideToast();
    });
  </script>





</body>

</html>