<!DOCTYPE html>
<html lang="en">
<%- include('./commun/head') %>
<script src="./plugin/calendar/simplebar.min.js"></script>
<script src="./plugin/calendar/config.js"></script>

<!-- ===============================================-->
<!--    Stylesheets-->
<!-- ===============================================-->
<link href="./plugin/calendar/css/main.min.css" rel="stylesheet">
<!-- <link href="./plugin/calendar/css/flatpickr.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="assets/extensions/flatpickr/flatpickr.min.css">
<!-- <link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin=""> -->
<!-- <link href="./plugin/calendar/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
 -->
<link href="./plugin/calendar/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">


<body class="bg-light">
  <%- include('./partials/navbar') %>
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main mt-100px" id="top">

    <div class="content">
      <div class="row g-0 mb-4 align-items-center">
        <div class="col-5 col-md-6">
          <h4 class="mb-0 text-body-emphasis fw-bold fs-md-6"><span class="calendar-day d-block d-md-inline mb-1"></span><span class="px-3 fw-thin text-body-quaternary d-none d-md-inline">|</span><span class="calendar-date"></span></h4>
        </div>
      </div>
      <div class="mx-n4 px-4  border-y border-translucent">
        <div class="row py-3 gy-3 gx-0">
          <div class="col-6 col-md-4 order-1 d-flex align-items-center"><button class="btn btn-sm btn-phoenix-primary px-4" data-event="today">Today</button></div>
          <div class="col-12 col-md-4 order-md-1 d-flex align-items-center justify-content-center"><button class="btn icon-item icon-item-sm shadow-none text-body-emphasis p-0" type="button" data-event="prev" title="Previous"><span class="fas fa-chevron-left"></span></button>
            <h3 class="px-3 text-body-emphasis fw-semibold calendar-title mb-0"> </h3><button class="btn icon-item icon-item-sm shadow-none text-body-emphasis p-0" type="button" data-event="next" title="Next"><span class="fas fa-chevron-right"></span></button>
          </div>
          <div class="col-6 col-md-4 ms-auto order-1 d-flex justify-content-end">
            <div>
              <div class="btn-group btn-group-sm" role="group"><button class="btn btn-phoenix-secondary active-view" data-fc-view="dayGridMonth">Month</button><button class="btn btn-phoenix-secondary" data-fc-view="timeGridWeek">Week</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="calendar-outline mt-6 mb-9" id="appCalendar"></div>
    </div>
    <div class="modal fade" id="eventDetailsModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-translucent"></div>
      </div>
    </div>

  </main><!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->



  <%- include('./commun/footer') %>
  <script src="./plugin/calendar/anchor.min.js"></script>
  <script src="./plugin/calendar/is.min.js"></script>
  <script src="./plugin/calendar/lodash.min.js"></script>
  <script src="./plugin/calendar/list.min.js"></script>
  <!--   <script src="./plugin/calendar/feather.min.js"></script> -->
  <script src="assets/extensions/feather-icons/feather.min.js"></script>
  <script src="./plugin/calendar/dayjs.min.js"></script>
  <script src="./plugin/calendar/main.min.js"></script>
  <!--   <script src="./plugin/calendar/flatpickr.min.js"></script> -->
  <script src="assets/extensions/flatpickr/flatpickr.min.js"></script>
  <script src="./plugin/calendar/phoenix.js"></script>
  <script>
    const camelize = e => {
      const t = e.replace(/[-_\s.]+(.)?/g, ((e, t) => t ? t.toUpperCase() : ""));
      return `${t.substr(0, 1).toLowerCase()}${t.substr(1)}`
    };
    const getData = (e, t) => {
      try {
        return JSON.parse(e.dataset[camelize(t)])
      } catch (o) {
        return e.dataset[camelize(t)]
      }
    };

    const renderCalendar = (e, t) => {
      const {
        merge: r
      } = window._, a = r({
        initialView: "dayGridMonth",
        editable: false,
        direction: document.querySelector("html").getAttribute("dir"),
        headerToolbar: {
          left: "prev,next today",
          center: "title",
          right: "dayGridMonth,timeGridWeek,timeGridDay"
        },
        buttonText: {
          month: "Month",
          week: "Week",
          day: "Day"
        }
      }, t), n = new window.FullCalendar.Calendar(e, a);
      return n.render(), document.querySelector(".navbar-vertical-toggle")?.addEventListener("navbar.vertical.toggle", (() => n.updateSize())), n
    };
    const fullCalendarInit = () => {
      const {
        getData: e
      } = window.phoenix.utils;
      document.querySelectorAll("[data-calendar]").forEach((t => {
        const r = e(t, "calendar");
        renderCalendar(t, r);
      }));
    };
    const fullCalendar = {
      renderCalendar: renderCalendar,
      fullCalendarInit: fullCalendarInit
    };


    // Utilisation de la méthode fetch au lieu de $.ajax pour simplifier le traitement des réponses
    fetch("/allevents")
      .then(response => {
        // Vérification si la réponse HTTP est réussie (code 200)
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        // Analyse de la réponse JSON
        return response.json();
      })
      .then(data => {
        const {
          dayjs: dayjs
        } = window, currentDay = dayjs && dayjs().format("DD"), currentMonth = dayjs && dayjs().format("MM"), prevMonth = dayjs && dayjs().subtract(1, "month").format("MM"), nextMonth = dayjs && dayjs().add(1, "month").format("MM"), currentYear = dayjs && dayjs().format("YYYY"), events = data.events;

        const getTemplate = n => `\n<div class="modal-header ps-card border-bottom">\n  <div>\n    <h4 class="modal-title text-body-highlight mb-0">${n.title}</h4>\n    ${n.extendedProps.organizer ? `<p class="mb-0 fs-9 mt-1">\n        by <a href="#!">${n.extendedProps.organizer}</a>\n      </p>` : ""}\n  </div>\n  <button type="button" class="btn p-1 fw-bolder" data-bs-dismiss="modal" aria-label="Close">\n    <span class='fas fa-times fs-8'></span>\n  </button>\n\n</div>\n\n<div class="modal-body px-card pb-card pt-1 fs-9">\n  ${n.extendedProps.description ? `\n      <div class="mt-3 border-bottom pb-3">\n        <h5 class='mb-0 text-body-secondary'>Description</h5>\n        <p class="mb-0 mt-2">\n          ${n.extendedProps.description.split(" ").slice(0, 30).join(" ")}\n        </p>\n      </div>\n    ` : ""} \n  <div class="mt-4 ${n.extendedProps.location ? "border-bottom pb-3" : ""}">\n    <h5 class='mb-0 text-body-secondary'>Date and Time</h5>\n    <p class="mb-1 mt-2">\n    ${window.dayjs && window.dayjs(n.start).format("dddd, MMMM D, YYYY, h:mm A")} \n    ${n.end ? `– ${window.dayjs && window.dayjs(n.end).subtract(1, "day").format("dddd, MMMM D, YYYY, h:mm A")}` : ""}\n  </p>\n\n  </div>\n  ${n.extendedProps.location ? `\n        <div class="mt-4 ">\n          <h5 class='mb-0 text-body-secondary'>Location</h5>\n          <p class="mb-0 mt-2">${n.extendedProps.location}</p>\n        </div>\n      ` : ""}\n  ${n.schedules ? `\n      <div class="mt-3">\n        <h5 class='mb-0 text-body-secondary'>Schedule</h5>\n        <ul class="list-unstyled timeline mt-2 mb-0">\n          ${n.schedules.map((n => `<li>${n.title}</li>`)).join("")}\n        </ul>\n      </div>\n      ` : ""}\n  </div>\n</div>\n\n<div class="modal-footer d-flex justify-content-end px-card pt-0 border-top-0">\n  ${ n.url!= "" && n.url!= undefined ? ` <a href="${n.url}" class="btn btn-secondary btn-sm"> View Details </a> ` : ""}</div>\n`;

        const appCalendarInit = () => {
          const
            a = "#appCalendar",
            r = ".calendar-title",
            n = ".calendar-day",
            o = ".calendar-date",
            d = "[data-fc-view]",
            l = "data-event",
            c = "#eventDetailsModal",
            i = "#eventDetailsModal .modal-content",
            u = '#addEventModal [name="startDate"]',
            s = '[name="title"]',
            m = "shown.bs.modal",
            v = "submit",
            g = "event",
            y = "fc-view",
            p = events.reduce(((e, t) => t.schedules ? e.concat(t.schedules.concat(t)) : e.concat(t)), []);
          (() => {
            const e = new Date,
              t = e.toLocaleString("en-US", {
                month: "short"
              }),
              a = e.getDate(),
              r = e.getDay(),
              d = `${a}  ${t},  ${e.getFullYear()}`;
            document.querySelector(n) && (document.querySelector(n).textContent = (e => ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"][e])(r)), document.querySelector(o) && (document.querySelector(o).textContent = d);
          })();
          const h = e => {
              const {
                currentViewType: t
              } = e;
              if ("timeGridWeek" === t) {
                const t = e.dateProfile.currentRange.start,
                  a = t.toLocaleString("en-US", {
                    month: "short"
                  }),
                  n = t.getDate(),
                  o = e.dateProfile.currentRange.end,
                  d = o.toLocaleString("en-US", {
                    month: "short"
                  }),
                  l = o.getDate();
                document.querySelector(r).textContent = `${a} ${n} - ${d} ${l}`;
              } else document.querySelector(r).textContent = e.viewTitle;
            },
            w = document.querySelector(a),
            S = document.querySelector(c);
          if (w) {
            const e = fullCalendar.renderCalendar(w, {
              headerToolbar: !1,
              dayMaxEvents: 3,
              height: 800,
              stickyHeaderDates: !1,
              views: {
                week: {
                  eventLimit: 3
                }
              },
              eventTimeFormat: {
                hour: "numeric",
                minute: "2-digit",
                omitZeroMinute: !0,
                meridiem: !0
              },
              events: p,
              eventClick: e => {
                e.jsEvent.preventDefault();
                const t = getTemplate(e.event);
                var elmdetail = document.querySelector(i);
                elmdetail.innerHTML = t;
                var modaldetail = new window.bootstrap.Modal(S);
                modaldetail.show();
              }
            });
            h(e.currentData), document.addEventListener("click", (t => {
              if (t.target.hasAttribute(l) || t.target.parentNode.hasAttribute(l)) {
                const a = t.target.hasAttribute(l) ? t.target : t.target.parentNode;
                switch (getData(a, g)) {
                  case "prev":
                    e.prev(), h(e.currentData);
                    break;
                  case "next":
                    e.next(), h(e.currentData);
                    break;
                  default:
                    e.today(), h(e.currentData);
                }
              }
              if (t.target.hasAttribute("data-fc-view")) {
                const a = t.target;
                e.changeView(getData(a, y)), h(e.currentData), document.querySelectorAll(d).forEach((e => {
                  e === t.target ? e.classList.add("active-view") : e.classList.remove("active-view");
                }));
              }
            }))




          }
        };

        const {
          docReady: docReady
        } = window.phoenix.utils;
        docReady(appCalendarInit);
      })
      .catch(error => {
        // Gestion des erreurs
        console.error("Error fetching events:", error);
        // Afficher un message d'erreur à l'utilisateur ou gérer l'erreur de manière appropriée
      });
  </script>


</body>

</html>