@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
/* 
   box-shadow: 0 0 0 3px  red inset;
    
   
    -webkit-user-select: none;  Safari */
  /*-ms-user-select: none;  IE 10 and IE 11  */
  /* user-select: none;  Standard syntax */
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* .reset-styles * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: none;
} */

/* Additional reset for the div itself */
.reset-styles {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: none;
}
/*  scroll Top Button */
#btn-back-to-top {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color-1);
  border: 2px solid var(--primary-color-2);
  color: var(--color-white);
  position: fixed;
  z-index: 500;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}
.navbar{
  top:0 !important;
}
section {
  margin: 40px 0;
}
/* autre */
.section-2{
  padding: 130px 0 0 0 ;
  margin-bottom: 50px;
}
.section-3{
  margin-top: 84px;
  padding: 100px 0 ;
}
.cursor-pointer{
  cursor: pointer;
}
.Text-Danger{
  display: none;
  color: red;
  font-weight: bold;
}
.vertical-line {
  width: 2px;
  /* Adjust the width of the line */
  height: 80%;
  /* Adjust the height of the line */
  background-color: #888785;
  /* Adjust the color of the line */
  margin: 0 5px;
  /* Adjust the spacing around the line */
}
.blurred {
  filter: blur(5px);
}
.mt {
  margin: 0 !important;
}
.mt-100px {
  margin-top: 100px !important;
}
.mt-140px {
  margin-top: 140px !important;
}
.border-radius-16{
  border-radius: 16px !important;
}
.navbar-nav .active{
  color: var(--primary-color-1) !important;
  font-weight: bold !important;
}
.mb-4 {
    margin-bottom: 2rem !important
}

.mb-5 {
    margin-bottom: 2.5rem !important
}
.mb-minus {
    margin-bottom: -5rem !important
}
.pt-12 {
    padding-top: 6rem !important
}
.pt-18{
    padding-top: 9rem !important
}
.pb-6 {
    padding-bottom: 3rem !important
}

.pb-7{
    padding-bottom: 3.5rem !important
}

.pb-8{
    padding-bottom: 4rem !important
}

.shadow-costum {
  box-shadow: 0 4px 6px rgba(22,22,26,.18);
}
.btn-forum-primary {
  --bs-btn-color: var(--color-white);
  --bs-btn-bg:  var(--primary-color-1);
  --bs-btn-border-color: var(--second-color-2);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-hover-bg: var(--primary-color-2);
  --bs-btn-hover-border-color: var(--primary-color-2);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-white);
  --bs-btn-active-bg: var(--third-color-1);
  --bs-btn-active-border-color: var(--fourth-color-1);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-white);
  --bs-btn-disabled-bg: var(--second-color-1);
  --bs-btn-disabled-border-color: var(--second-color-1);
}
.fit-cover {
  -o-object-fit: cover;
  object-fit: cover !important
}


/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-1);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}




/* navbar */

.navbar {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 20px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.c-item {
  height:100vh ;
}

.c-img {
  margin-top: 80px;
  height: calc(100% - 80px);
  object-fit: cover;
  filter: brightness(0.6);
}
/* frame image */

.figure_for_frame {
  --c: 50px;
  --p: 30px;
  --d: 10px;
  background: red;
  display: inline-block;
  padding: var(--p);
  background:
    radial-gradient(farthest-side at 0 0, #000, #0000) 0 0 / var(--c) var(--c),
    radial-gradient(farthest-side at 100% 100%, #000, #0000) 100% 100% / var(--c) var(--c),
    linear-gradient(#fff 0 0) 50% 50% / calc(100% - var(--p)) calc(100% - var(--p)),
    linear-gradient(#0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--p)) calc(100% - var(--d)),
    linear-gradient(90deg, #0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--d)) calc(100% - var(--p)),
    radial-gradient(farthest-side at 0 100%, #00000018, #0000) calc(100% - var(--d) * 0.5) calc(var(--d) * 0.5) / var(--d) var(--d),
    radial-gradient(farthest-side at 100% 0, #00000018, #0000) calc(var(--d) * 0.5) calc(100% - var(--d) * 0.5) / var(--d) var(--d);
  background-repeat: no-repeat;
  clip-path: polygon(0 var(--c), var(--c) 0, 100% 0, 100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 0 100%);
}

.bsb-overlay {
  --bsb-overlay-opacity: 0.5;
  --bsb-overlay-bg-color: var(--bs-black-rgb);
  position: relative
}

.bsb-overlay:after {
  background-color: rgba(var(--bsb-overlay-bg-color), var(--bsb-overlay-opacity));
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0
}

.bsb-overlay>* {
  position: relative;
  z-index: 1
}
.bsb-hero-1 {
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  padding-bottom: 3rem;
  padding-top: 3rem
}

@media(max-width:1200px) {
  .bsb-hero-1 {
      padding-bottom: 8rem;
      padding-top: 8rem
  }
}
@media(min-width:1200px) {
  .bsb-hero-1 {
      padding-bottom: 10rem;
      padding-top: 10rem
  }
}










/* Blog card style start  */
#blogcards .container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  #blogcards .container2 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 940px) {
  #blogcards .container2 {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

#blogcards .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
}

#blogcards .card-header {
  padding: 0;
}

#blogcards .card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#blogcards .card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}

#blogcards .card-body a {
  margin: 10px 0;
  text-decoration: none;
  color: var(--primary-color-2);
}

#blogcards .card-body a:hover {
  color: var(--primary-color-1);
}

#blogcards .card-body h4 {

  max-height: 3.6em;
  /* Adjusted max height to accommodate 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}


#blogcards .card-body p {
  font-size: 14px;
  margin: 0 0 40px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
  max-height: 5.4em;
  /* Adjusted max height to accommodate 3 lines */
  line-height: 1.8em;
  /* Adjusted line height */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limit to 3 lines */
  -webkit-box-orient: vertical;
}

#blogcards .user {
  display: flex;
  margin-top: auto;
}

#blogcards .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

#blogcards .user-info h5 {
  margin: 0;
}

#blogcards .user-info small {
  color: #888785;
}
/* Blog card style end  */