<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2024 &copy; Tous droits réservés</p>
        </div>
        <div class="float-end">
            <p>Développé</span>
                par <a href="https://www.linkedin.com/in/jasser-hachaichi-85b469204/">Jasser Hachaichi </a><span class="text-danger"><i class="bi bi-heart-fill icon-mid"></i></p>
        </div> 
    </div>
</footer>

