<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Jasser Hachaichi">
  <title>

  </title>
  <link rel="icon" href="images/CTicon.png">
  <link rel="shortcut" href="images/CTicon.png">
  <link rel="apple-touche-icon" href="images/CTicon.png">


  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css" />

  <!-- SITE CSS FILES -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- lightgallery -->
  <link rel="stylesheet" href="plugin/Lightgallery/css/lightgallery.min.css" />


  <!-- Magnific Popup -->
  <link rel="stylesheet" href="plugin/Magnific-Popup/magnific-popup.css" />
  <!-- toastify Popup -->
  <link rel="stylesheet" href="assets/extensions/toastify-js/src/toastify.css">

  <!-- Slider Images -->
  <link rel="stylesheet" href="/sliderhome/owl.carousel.min.css">
  <link rel="stylesheet" href="/sliderhome/owl.theme.default.min.css">
  <link rel="stylesheet" href="/sliderhome/animate.css">


</head>

<%- include('./loader') %>