<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jasser Hachaichi">
    <title>
      Dashboard
    </title>
    <link rel="icon" href="images/CTicon.png">
    <link rel="shortcut" href="images/CTicon.png">
    <link rel="apple-touche-icon" href="images/CTicon.png">

  <!-- SITE CSS FILES -->
  <link rel="stylesheet" href="assets/compiled/css/app.css">
  <link rel="stylesheet" href="assets/compiled/css/app-dark.css">
  <link rel="stylesheet" href="fontawesome-free/css/all.css">


  




</head>

